{
    "base": {
        "check_exists": false
    },
    "gogs": {
        "url": "git.example.tld",
        "protocol": "http",
        "token": "some-token",
        "owner_id": 1
    },
    "bitbucket": {
        "user": "",
        "password": "",
        "team": null
    }
}
